

.newUserCreated {
    margin-top: 140px;
    padding-bottom: 100px;

    .image {
        padding-top: 50px;
        margin: auto;
    }

    .ok {
        display: flex;
        margin: 50px auto auto auto;
    }
}